# This is a workflow to update README with the latest versions of boto3 and python3 after a Docker Hub build succeeds

name: Docker Hub Post Push

on:
  repository_dispatch:
    types: post-push

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Update readme with latest version matrix from API payload
        run: |
          sed -i -E 's/python-([0-9].){2}[0-9]/python-'"${payload-update-this}"'/' ./README.md
          sed -i -E 's/boto3-([0-9].){2}[0-9]/boto3-'"${payload-update-this}"'/' ./README.md

      - name: Commit README
        run: |
          git config user.name Josh Roose
          git config user.email 54345520+joshRooz@users.noreply.github.com
          git add ./README.md
          git commit -m "update versions"
          git push
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
